.idea/
.ipynb_checkpoints/

.DS_Store

Learning\ Machine\ Learning\ with\ Josh\ Gordon/ml_google/
Learning\ Machine\ Learning\ with\ Josh\ Gordon/data/
Learning\ Machine\ Learning\ with\ Josh\ Gordon/MNIST-data/
